language: go
sudo: false

go:
  - 1.7.5
  - 1.8
  - tip

os:
  - linux
  - osx

install:
  - go version
  - export GOBIN="$GOPATH/bin"
  - export PATH="$PATH:$GOBIN"
  - go get golang.org/x/tools/cmd/goimports

script:
  - go test
  - diff <(GOPATH="$PWD:$PWD/vendor" goimports -d ./src) <(printf "")
